---
permalink: /archives/
title: "TimeLine"
layout: default
description: Time stays still, we never part
header-img: ""
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ assets_base_url }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');background-color:darkcyan">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!--这里的样式为了和tag.html一致，所以用了tag的样式-->
            <div class="one-tag-list">
                
                    <!--时间线-->
                    <!-- <ul> -->
                    {% for post in site.posts %}

                        {% unless post.next %}
                        <h2 style="color: #0085a1;">{{ post.date | date: '%Y年' }}</h2>
                        {% else %}
                        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                        {% if year != nyear %}
                            <h2 style="color: #0085a1;">{{ post.date | date: '%Y年' }}</h2>
                        {% endif %}
                        {% endunless %}
                    <div class="post-preview">
                        <!-- <li font-family="-apple-system">{{ post.date | date:"%Y-%m-%d " }} <a href="{{ post.url }}">{{ post.title }}</a></li> -->
                        <a href="{{ post.url | prepend: site.baseurl }}"><h5 class="post-title" style="line-height:1;font-size:16px;font-weight:700">{{ post.title }}</h5></a>
                        <p class="post-meta">{{ post.date | date:"%Y-%m-%d " }}</p>
                    </div>
                    {% endfor %}
                    <!-- </ul> -->
                    <!--时间线结束-->
                
            </div>
        </div>
	</div>
</div>